{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_markdown %}
{% block topfiles %}
    <script src="{% static 'js/highlight.pack.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/solarized-light.css' %}">
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(function(){
            $('#btn').click(function(){
                var username = $('.username').val();
                var email = $('.email').val();
                var content = $('.content').val();
                var article_id = $(this).attr('article');
                var csrf = $('input[name="csrfmiddlewaretoken"]').val();

                if(username.length==0||email.length==0||content.length==0){
                    alert('信息不完整')
                }
                else {
                    var params = {'username': username, 'email': email, 'content': content, 'article_id': article_id,
                    "csrfmiddlewaretoken": csrf};

                    $.post('/comment/', params, function (res) {
                        if (res['data'] == 0) {
                            alert('评论失败');
                        }
                        else if (res['data'] == 1) {
                            location.href = res['next_url'];
                        }
                    })
                }
            });
        })
    </script>

{% endblock topfiles %}
{% block content %}
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center">{{ article.title }}</h1>
          <p class="am-article-meta blog-text-center">
              {# <span><a href="#" class="blog-color">{{ article.type }} &nbsp;</a></span>- #}
              <span>{{ article.auth }} &nbsp;-</span>
              <span>{{ article.pub_time }}</span>
          </p>
        </div>        
        <div class="am-article-bd">
        <p class="class="am-article-lead"">
         {{ article.content|custom_markdown }}
        </p>
        </div>
      </article>
        
     <!-- 上一篇和下一篇 -->
        <hr>
        <ul class="am-pagination blog-article-margin">
          {% if prev == None %}
            <li class="am-pagination-prev">&laquo; 前面没有了</li>
          {% else %}
            <li class="am-pagination-prev"><a href="/article/{{ prev.id }}" class="">&laquo; {{ prev.title }}</a></li>
          {% endif %}
          {% if next == None %}
            <li class="am-pagination-next">后面没有了 &raquo;</li>
          {% else %}
            <li class="am-pagination-next"><a href="/article/{{ next.id }}" class="">{{ next.title }} &raquo;</a></li>
          {% endif %}
        </ul>
        
        <hr>
{#        评论展示#}
        {% if comments == None %}
            <article class="am-article blog-article-p">
                <div class="am-article-bd">
                <p class="class="am-article-lead"">
                暂无评论
                </p>
                </div>
            <hr>
            </article>
        {% else %}
        {% for comment in comments %}
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <p class="blog-color">
                    {# <span><a href="#" class="blog-color">{{ article.type }} &nbsp;</a></span>- #}
                    <span>#{{ forloop.counter }} &nbsp;-&nbsp;</span>
                    <span>{{ comment.username }} &nbsp;/&nbsp;</span>
                    <span>{{ comment.pub_time }}</span>
                </p>
            </div>
            <div class="am-article-bd">
                <p class="class="am-article-lead"">
                {{ comment.content|custom_markdown }}
                </p>
            </div>
            <hr>
        </article>
        {% endfor %}
        {% endif %}

        <hr>
    </div>
</div>
<div>
        <div class="am-form am-g">
            <h3 class="blog-comment">发表评论</h3>
          <fieldset>
            <div class="am-form-group am-u-sm-4 blog-clear-left">
              <input type="text" class="username" name="username" placeholder="用户名">
                {% csrf_token %}
            </div>
            <div class="am-form-group am-u-sm-4">
              <input type="email" class="email" name="email" placeholder="联系邮箱(评论后不显示)">
            </div>
        
            <div class="am-form-group">
              <textarea class="content" rows="5" name="content" placeholder="一字千金"></textarea>
            </div>

            <p><button type="button" id='btn' article='{{ article.id }}' class="am-btn am-btn-default">发表评论</button></p>
          </fieldset>
        </div>

</div>
<!-- content end -->
{% endblock content %}
